In [32]:
import pickle 
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
import gzip

In [21]:

def cargar_modelo(ruta_modelo):
    with open(ruta_modelo, 'rb') as f:
        modelo = pickle.load(f)
    return modelo

def predecir_vehiculo(datos, modelo):
    # Realizar la predicción usando el modelo
    prediccion = modelo.predict(datos)
    return prediccion

def vehiculo():
    # Cargar el modelo entrenado
    modelo_entrenado = cargar_modelo('xtrain.pkl')

    # Ejemplo de datos de entrada para predecir
    datos_ejemplo = np.array([['mes', 'dia_inicio', 'hora_inicio', 'hora_fin', 'distancia_viaje', 'ubicacion_inicio', 'ubicacion_fin', 'pax']])

    # Convertir el DataFrame a una matriz numpy
    datos_ejemplo = datos_ejemplo.astype(float)

    # Realizar la predicción usando la función predefinida
    tipo_vehiculo_predicho = predecir_vehiculo(datos_ejemplo, modelo_entrenado)

    print(f'Se recomienda el vehículo: {tipo_vehiculo_predicho}')

In [29]:
modelos = pd.read_pickle('xtrain.pkl')

In [34]:
modelos.to_pickle('xtrain.pkl.gz')

In [31]:
modelos.head(50000)

,mes,dia_inicio,hora_inicio,hora_fin,distancia_viaje,ubicacion_inicio,ubicacion_fin,pax
394657,3,31,8,8,1.80,162,140,4
517437,2,23,15,15,2.21,164,125,4
208118,11,15,9,10,17.70,75,132,4
626437,7,29,1,2,0.74,137,107,4
699970,2,15,7,7,0.57,238,239,5
...,...,...,...,...,...,...,...,...
576878,9,4,16,16,1.10,233,107,5
324994,3,17,19,19,3.20,246,45,4
27689,12,22,9,9,1.40,43,262,4
529707,12,11,11,12,10.33,48,138,4
761460,1,5,12,13,2.04,142,262,4

In [ ]:
with gzip.open('xtrain.pkl.gz', 'wb') as f:
        pickle.dump(xtrain, f)

In [28]:
resultado = vehiculo(1, 3, 5, 6, 5, 1, 2, 1)

RecursionError: maximum recursion depth exceeded

In [ ]:
def cargar_modelo(ruta_modelo):
    with open(ruta_modelo, 'rb') as f:
        modelo = pickle.load(f)